<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.travelexperts.temobile">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/packages_mdpi"
        android:label="@string/app_name"
        android:roundIcon="@drawable/packages_mdpi"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".StartupActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:icon="@drawable/booking_mdpi"
            android:label="Travel Experts" />
        <activity
            android:name=".AgentActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:icon="@drawable/agent_mdpi"
            android:label="Agents List" />
        <activity
            android:name=".AgentDetailsActivity"
            android:icon="@drawable/agent_mdpi"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CustomerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:icon="@drawable/customer_mdpi"
            android:label="Customers List" />
        <activity
            android:name=".CustomerDetailsActivity"
            android:icon="@drawable/customer_mdpi"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PopupLogin"
            android:icon="@drawable/customer_mdpi"/>
        <activity
            android:name=".AgentUpdateActivity"
            android:icon="@drawable/agent_mdpi"
            android:screenOrientation="portrait" />
        <activity android:name=".SignInActivity" />
    </application>

</manifest>